body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* Navbar */
.navbar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #e74c3c; /* Warna merah untuk navbar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
c .navbar-nav .nav-link {
  color: white;
  margin: 0 10px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffdd57; /* Warna kuning saat hover */
}

.navbar-text {
  color: white;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button {
  width: 100%;
}

.alert {
  text-align: center;
  margin-top: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

.alert {
  text-align: center;
  margin-top: 10px;
}
